<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ToDo. | 로그인</title>
	<meta charset="utf-8">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@400&family=Mali:ital,wght@1,200&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/css/login.css">
</head>
<body>
<div id="container">
	<section id="section">
		<h1 id="title_logo">To Do.</h1>
		<h2>나만의 작은 스케줄러</h2>
		<div id="loginBtn_group">
			<label>login</label>
			<a href="/login" id="loginBtn_google">google 로그인</a>
		</div>
	</section>
	<div id="text_group">
		<p>※ PC 사용을 권장합니다.</p>
		<p id="copyright">ⓒ 2021. Song Eun Choi all rights reserved.</p>
	</div>
</div>
<script th:if="${errorType != null}" th:inline="javascript">
    let errorMsg = [[${errorType}]];
    if (errorMsg === 'loginFail') {
        alert('로그인 실패');
    } else if (errorMsg === 'logout') {
        alert('로그아웃 완료');
    }
</script>
</body>
</html>